@{
    ViewData["Title"] = "Home Page";
}

<div class="">

    <div class="row">
            
        <div class="col-md-12 text-center ">

            <h1 class="text-primary">
                Bem Vindos ao I Book Admin
            </h1>

        </div>

    </div>

    <div class="row" style="padding-top:15px">

        <div class="col-md-12 text-center">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum rhoncus est pellentesque elit. Quis viverra nibh cras pulvinar mattis nunc sed blandit libero. Faucibus ornare suspendisse sed nisi lacus sed. Id volutpat lacus laoreet non curabitur. Quis varius quam quisque id diam vel. Pellentesque elit eget gravida cum sociis natoque penatibus et. Velit euismod in pellentesque massa placerat duis ultricies lacus sed. Massa tincidunt dui ut ornare lectus sit amet est. Mi sit amet mauris commodo quis imperdiet massa tincidunt nunc. Eu lobortis elementum nibh tellus molestie nunc non blandit massa. Est sit amet facilisis magna. Massa tincidunt dui ut ornare lectus. Bibendum ut tristique et egestas.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum rhoncus est pellentesque elit. Quis viverra nibh cras pulvinar mattis nunc sed blandit libero. Faucibus ornare suspendisse sed nisi lacus sed. Id volutpat lacus laoreet non curabitur. Quis varius quam quisque id diam vel. Pellentesque elit eget gravida cum sociis natoque penatibus et. Velit euismod in pellentesque massa placerat duis ultricies lacus sed. Massa tincidunt dui ut ornare lectus sit amet est. Mi sit amet mauris commodo quis imperdiet massa tincidunt nunc. Eu lobortis elementum nibh tellus molestie nunc non blandit massa. Est sit amet facilisis magna. Massa tincidunt dui ut ornare lectus. Bibendum ut tristique et egestas.</p>



        </div>

    </div>

</div>